<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Title</title>
	</head>
	<body>
		<fieldset>
		<legend>颜色对比表</legend>
		<table border="1" name="color_table" title="颜色表">
			<tr>
				<td bgcolor="38ffa0">"绿1"</td>
				<td bgcolor="38ffa0">"绿2"</td>
				<td bgcolor="38ffa0">"绿3"</td>
				<td bgcolor="38ffa0">"绿4"</td>
				<td bgcolor="38ffa0">"绿5"</td>
				<td bgcolor="38ffa0">"绿6"</td>
				<td bgcolor="38ffa0">"绿7"</td>
				<td bgcolor="38ffa0">"绿8"</td>
			</tr>
			<tr>
				<td bgcolor="38ffa0">"紫1"</td>
				<td bgcolor="38ffa0">"紫2"</td>
				<td bgcolor="38ffa0">"紫3"</td>
				<td bgcolor="38ffa0">"紫4"</td>
				<td bgcolor="38ffa0">"紫5"</td>
				<td bgcolor="38ffa0">"紫6"</td>
				<td bgcolor="38ffa0">"紫7"</td>
				<td bgcolor="38ffa0">"紫8"</td>
			</tr>
			<tr>
				<td bgcolor="38ffa0">"黄1"</td>
				<td bgcolor="38ffa0">"黄2"</td>
				<td bgcolor="38ffa0">"黄3"</td>
				<td bgcolor="38ffa0">"黄4"</td>
				<td bgcolor="38ffa0">"黄5"</td>
				<td bgcolor="38ffa0">"黄6"</td>
				<td bgcolor="38ffa0">"黄7"</td>
				<td bgcolor="38ffa0">"黄8"</td>
			</tr>
		</table>
		</fieldset>
		<br/>
		<br/>
		<br/>
		<fieldset>
		<legend>慧眼鉴--图片颜色信息</legend>
		<table border="1" name="color_desp" title="图片颜色">
			<tr>
				<td>颜色分量1</td>
				<td>颜色分量2</td>
				<td>颜色分量3</td>
				<td>颜色分量4</td>
				<td>颜色分量5</td>
				<td>颜色分量6</td>
			</tr>
			<tr>
				<td>59</td>
				<td>165</td>
				<td>184</td>
				<td>59</td>
				<td>117</td>
				<td>160</td>
			</tr>
			<tr>
				<td bgcolor="#46b841">您的</td>
				<td bgcolor="#46b841">颜色</td>
				<td bgcolor="#46b841"> </td>
				<td bgcolor="#46b841"> </td>
				<td bgcolor="#46b841"> </td>
				<td bgcolor="#46b841"> </td>
			</tr>
		</table>
		</fieldset>
		<div>
			<img src="http://api.mx-tech.top/static/upload/filter__1_2656.png" />
		</div>
	</body>
</html>

