<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>
	<body>
	<div>
		<table border="1" name="color_table" title="颜色表">
		    <tr>
		        <td background-color="38ffa0">"绿1"</td>
		        <td background-color="38ffa0">"绿2"</td>
		        <td background-color="38ffa0">"绿3"</td>
		        <td background-color="38ffa0">"绿4"</td>
		        <td background-color="38ffa0">"绿5"</td>
		        <td background-color="38ffa0">"绿6"</td>
		        <td background-color="38ffa0">"绿7"</td>
		        <td background-color="38ffa0">"绿8"</td>
		    </tr>
		    <tr>
		        <td background-color="38ffa0">"紫1"</td>
		        <td background-color="38ffa0">"紫2"</td>
		        <td background-color="38ffa0">"紫3"</td>
		        <td background-color="38ffa0">"紫4"</td>
		        <td background-color="38ffa0">"紫5"</td>
		        <td background-color="38ffa0">"紫6"</td>
		        <td background-color="38ffa0">"紫7"</td>
		        <td background-color="38ffa0">"紫8"</td>
		    </tr>
		    <tr>
		        <td background-color="38ffa0">"黄1"</td>
		        <td background-color="38ffa0">"黄2"</td>
		        <td background-color="38ffa0">"黄3"</td>
		        <td background-color="38ffa0">"黄4"</td>
		        <td background-color="38ffa0">"黄5"</td>
		        <td background-color="38ffa0">"黄6"</td>
		        <td background-color="38ffa0">"黄7"</td>
		        <td background-color="38ffa0">"黄8"</td>
		    </tr>
		</table>
		<table border="1" name="color_desp" title="图片颜色">
		    <tr>
		        <td>"慧眼鉴-颜色分量1"</td>
		        <td>"慧眼鉴-颜色分量2"</td>
		        <td>"慧眼鉴-颜色分量3"</td>
		        <td>"慧眼鉴-颜色分量4"</td>
		        <td>"慧眼鉴-颜色分量5"</td>
		        <td>"慧眼鉴-颜色分量6"</td>
		    </tr>
		    <tr>
		        <td>53.22527844889918</td>
		        <td>252.40751286825102</td>
		        <td>0.0</td>
		        <td>56.235415109770024</td>
		        <td>222.61787235092567</td>
		        <td>4.993707895278931</td>
		    </tr>
		    <tr background-color="38ffa0">
		    </tr>
	</div>
	</body>
</html>

